.albums {
    display: flex;
    flex-direction: column;
    padding: 20px 6%;
}

.albums-header {
    display: block;
    margin-bottom: 40px;
}

.card-block {
    display: flex;
    flex-direction: row;
}

.albums-title {
    float: right;
}

.album {
    width: 20%;
    margin: 0 10px;
}

.album img {
    width: 100% !important;
}